In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
metaFile = open("crx.names", "r")
for line in metaFile:
    if(line != "\n"):
        print(line)

1. Title: Credit Approval

2. Sources:

    (confidential)

    Submitted by quinlan@cs.su.oz.au

3.  Past Usage:

    See Quinlan,

    * "Simplifying decision trees", Int J Man-Machine Studies 27,

      Dec 1987, pp. 221-234.

    * "C4.5: Programs for Machine Learning", Morgan Kaufmann, Oct 1992



4.  Relevant Information:

    This file concerns credit card applications.  All attribute names

    and values have been changed to meaningless symbols to protect

    confidentiality of the data.



    This dataset is interesting because there is a good mix of

    attributes -- continuous, nominal with small numbers of

    values, and nominal with larger numbers of values.  There

    are also a few missing values.



5.  Number of Instances: 690

6.  Number of Attributes: 15 + class attribute

7.  Attribute Information:

    A1:	b, a.

    A2:	continuous.

    A3:	continuous.

    A4:	u, y, l, t.

    A5:	g, p, gg.

    A6:	c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.

    A7:	v, h, bb, j, n, z, dd, ff, o.

    A8:	continuous.

    A9:	t, f.

    A10:	t, f.

    A11:	continuous.

    A12:	t, f.

    A13:	g, p, s.

    A14:	continuous.

    A15:	continuous.

    A16: +,-         (class attribute)

8.  Missing Attribute Values:

    37 cases (5%) have one or more missing values.  The missing

    values from particular attributes are:

    A1:  12

    A2:  12

    A4:   6

    A5:   6

    A6:   9

    A7:   9

    A14: 13

9.  Class Distribution



    +: 307 (44.5%)

    -: 383 (55.5%)

In [3]:
df = pd.read_csv("crx.csv")
df.sample(5)

    A1     A2     A3 A4 A5  A6 A7     A8 A9 A10  A11 A12 A13    A14   A15  T
452  b  36.50  4.250  u  g   q  v  3.500  f   f    0   f   g  00454    50  -
198  b  27.58  2.040  y  p  aa  v  2.000  t   t    3   t   g  00370   560  +
512  a  44.33  0.000  u  g   c  v  2.500  t   f    0   f   g  00000     0  +
399  b  31.00  2.085  u  g   c  v  0.085  f   f    0   f   g  00300     0  -
492  b  39.25  9.500  u  g   m  v  6.500  t   t   14   f   g  00240  4607  +

In [4]:
print(df.dtypes)
print()
print(df.shape)

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
T       object
dtype: object

(690, 16)

In [5]:
for column in df:
    print(f'{column} : {df[column].unique()}')

A1 : ['b' 'a' '?']
A2 : ['30.83' '58.67' '24.50' '27.83' '20.17' '32.08' '33.17' '22.92' '54.42'
 '42.50' '22.08' '29.92' '38.25' '48.08' '45.83' '36.67' '28.25' '23.25'
 '21.83' '19.17' '25.00' '47.75' '27.42' '41.17' '15.83' '47.00' '56.58'
 '57.42' '42.08' '29.25' '42.00' '49.50' '36.75' '22.58' '27.25' '23.00'
 '27.75' '54.58' '34.17' '28.92' '29.67' '39.58' '56.42' '54.33' '41.00'
 '31.92' '41.50' '23.92' '25.75' '26.00' '37.42' '34.92' '34.25' '23.33'
 '23.17' '44.33' '35.17' '43.25' '56.75' '31.67' '23.42' '20.42' '26.67'
 '36.00' '25.50' '19.42' '32.33' '34.83' '38.58' '44.25' '44.83' '20.67'
 '34.08' '21.67' '21.50' '49.58' '27.67' '39.83' '?' '37.17' '25.67'
 '34.00' '49.00' '62.50' '31.42' '52.33' '28.75' '28.58' '22.50' '28.50'
 '37.50' '35.25' '18.67' '54.83' '40.92' '19.75' '29.17' '24.58' '33.75'
 '25.42' '37.75' '52.50' '57.83' '20.75' '39.92' '24.75' '44.17' '23.50'
 '47.67' '22.75' '34.42' '28.42' '67.75' '47.42' '36.25' '32.67' '48.58'
 '33.58' '18.83' '26.92' '31.25' '56.50' '43.00' '22.33' '32.83' '40.33'
 '30.50' '52.83' '46.67' '58.33' '37.33' '23.08' '32.75' '68.67' '28.00'
 '44.00' '25.08' '32.00' '60.58' '40.83' '19.33' '41.33' '56.00' '49.83'
 '22.67' '27.00' '26.08' '18.42' '21.25' '57.08' '22.42' '48.75' '40.00'
 '40.58' '28.67' '33.08' '21.33' '41.75' '34.50' '48.17' '27.58' '24.08'
 '24.83' '36.33' '35.42' '71.58' '39.50' '39.33' '24.33' '60.08' '55.92'
 '53.92' '18.92' '50.08' '65.42' '17.58' '18.08' '19.67' '25.17' '33.50'
 '58.42' '26.17' '42.83' '38.17' '20.50' '48.25' '28.33' '18.75' '18.50'
 '45.00' '40.25' '41.42' '17.83' '18.17' '20.00' '52.17' '50.75' '17.08'
 '18.33' '59.67' '18.00' '37.58' '30.67' '18.58' '16.25' '21.17' '17.67'
 '16.50' '29.50' '21.75' '18.25' '35.75' '16.08' '69.17' '32.92' '16.33'
 '22.17' '57.58' '15.92' '31.75' '19.00' '17.50' '33.67' '30.17' '33.25'
 '25.25' '34.75' '47.33' '39.08' '42.75' '38.92' '62.75' '32.25' '26.75'
 '63.33' '30.75' '16.00' '19.50' '32.42' '30.25' '26.83' '16.92' '24.42'
 '39.42' '23.58' '21.42' '33.00' '26.33' '26.25' '28.17' '20.83' '43.17'
 '56.83' '15.17' '29.83' '31.00' '51.92' '69.50' '19.58' '22.25' '38.42'
 '26.58' '35.00' '29.42' '49.17' '51.83' '58.58' '53.33' '27.17' '25.92'
 '30.58' '17.25' '27.33' '36.50' '29.75' '52.42' '36.17' '34.58' '21.92'
 '36.58' '31.08' '30.42' '21.08' '17.42' '39.17' '26.50' '17.33' '23.75'
 '34.67' '74.83' '45.33' '47.25' '24.17' '39.25' '39.00' '64.08' '31.33'
 '21.00' '13.75' '46.00' '20.25' '60.92' '30.00' '22.83' '45.17' '41.58'
 '55.75' '25.33' '31.83' '33.92' '24.92' '80.25' '30.08' '48.33' '76.75'
 '51.33' '41.92' '29.58' '32.17' '51.42' '42.17' '43.08' '59.50' '65.17'
 '20.33' '48.50' '28.08' '73.42' '51.58' '38.67' '46.08' '20.08' '42.25'
 '16.17' '47.83' '22.00' '38.33' '25.58' '21.58' '36.08' '38.75' '35.58'
 '31.58' '15.75' '17.92' '30.33' '47.17' '25.83' '50.25' '36.42']
A3 : [ 0.     4.46   0.5    1.54   5.625  4.     1.04  11.585  4.915  0.83
  1.835  6.     6.04  10.5    4.415  0.875  5.875  0.25   8.585 11.25
  1.     8.    14.5    6.5    0.585 13.    18.5    8.5   14.79   9.79
  7.585  5.125 10.75   1.5    1.585 11.75   9.415  9.17  15.     1.415
 13.915 28.     6.75   2.04   0.665  2.5    3.    11.625  4.5   12.25
 16.165  0.79   0.835  4.25   0.375 25.125  7.5    5.     7.     5.29
  1.165  9.75  19.     3.5    0.625  2.21  12.75  15.5    1.375  3.54
 11.     1.75  16.5   12.     2.25   0.75  12.5    1.25   1.125  7.04
 10.335  6.21   6.665  9.     5.5    0.54   2.75   9.5   13.5    3.75
 16.     0.29   1.665  7.54   0.46  10.    11.5    3.04   2.     0.08
  1.71   3.25   2.54  13.585  8.665  9.25   8.17   2.335 19.5    5.665
  4.625  0.205  0.96   4.04   5.04   3.165  7.625 10.04  10.25   2.125
  9.335  6.625  2.71   9.625 12.54   9.54   8.46  13.75  21.    10.125
 25.085  0.21  21.5   11.125 11.045  1.335  0.085  1.21   0.165  5.71
  5.415 12.625  0.58   0.415  2.415  0.335  3.125 12.125  2.875 13.665
 26.335 10.29   1.29  22.     0.125  1.085  4.085  4.71   6.165  4.585
 11.46  14.585  0.17   1.625  2.085  5.085  8.125  2.835  1.79   0.705
  2.165  2.29  18.125  3.085 11.665  4.125  1.08  13.335 11.835  4.79
  9.96   7.08  25.21   0.67   3.79  22.29   3.335  0.42   1.46   0.04
 12.33  12.335  0.915 14.    17.75  20.     5.25   4.165 10.915  4.75
 10.415  7.835  0.71   2.46   9.585  3.625  2.665  5.835 12.835 10.665
  7.25  10.21   3.29  10.085  3.375]
A4 : ['u' 'y' '?' 'l']
A5 : ['g' 'p' '?' 'gg']
A6 : ['w' 'q' 'm' 'r' 'cc' 'k' 'c' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j' '?']
A7 : ['v' 'h' 'bb' 'ff' 'j' 'z' '?' 'o' 'dd' 'n']
A8 : [ 1.25   3.04   1.5    3.75   1.71   2.5    6.5    0.04   3.96   3.165
  2.165  4.335  1.     5.     0.25   0.96   3.17   0.665  0.75   0.835
  7.875  3.085  0.5    5.165 15.     7.     5.04   7.96   7.585  0.415
  2.     1.835 14.415  4.5    5.335  8.625 28.5    2.625  0.125  6.04
  3.5    0.165  0.875  1.75   0.     7.415  0.085  5.75   6.     3.
  1.585  4.29   1.54   1.46   1.625 12.5   13.5   10.75   0.375  0.585
  0.455  4.     8.5    9.46   2.25  10.     0.795  1.375  1.29  11.5
  6.29  14.     0.335  1.21   7.375  7.5    3.25  13.     5.5    4.25
  0.625  5.085  2.75   2.375  8.     1.085  2.54   4.165  1.665 11.
  9.     1.335  1.415  1.96   2.585  5.125 15.5    0.71   5.665 18.
  5.25   8.665  2.29  20.     2.46  13.875  2.085  4.58   2.71   2.04
  0.29   4.75   0.46   0.21   0.54   3.335  2.335  1.165  2.415  2.79
  4.625  1.04   6.75   1.875 16.    12.75   5.375  2.125 17.5    3.125
  0.79   8.29 ]
A9 : ['t' 'f']
A10 : ['t' 'f']
A11 : [ 1  6  0  5  7 10  3 17  2  9  8 15 11 12 40 23  4 20 67 14 16 13 19]
A12 : ['f' 't']
A13 : ['g' 's' 'p']
A14 : ['00202' '00043' '00280' '00100' '00120' '00360' '00164' '00080' '00180'
 '00052' '00128' '00260' '00000' '00320' '00396' '00096' '00200' '00300'
 '00145' '00500' '00168' '00434' '00583' '00030' '00240' '00070' '00455'
 '00311' '00216' '00491' '00400' '00239' '00160' '00711' '00250' '00520'
 '00515' '00420' '?' '00980' '00443' '00140' '00094' '00368' '00288'
 '00928' '00188' '00112' '00171' '00268' '00167' '00075' '00152' '00176'
 '00329' '00212' '00410' '00274' '00375' '00408' '00350' '00204' '00040'
 '00181' '00399' '00440' '00093' '00060' '00395' '00393' '00021' '00029'
 '00102' '00431' '00370' '00024' '00020' '00129' '00510' '00195' '00144'
 '00380' '00049' '00050' '00381' '00150' '00117' '00056' '00211' '00230'
 '00156' '00022' '00228' '00519' '00253' '00487' '00220' '00088' '00073'
 '00121' '00470' '00136' '00132' '00292' '00154' '00272' '00340' '00108'
 '00720' '00450' '00232' '00170' '01160' '00411' '00460' '00348' '00480'
 '00640' '00372' '00276' '00221' '00352' '00141' '00178' '00600' '00550'
 '02000' '00225' '00210' '00110' '00356' '00045' '00062' '00092' '00174'
 '00017' '00086' '00454' '00254' '00028' '00263' '00333' '00312' '00290'
 '00371' '00099' '00252' '00760' '00560' '00130' '00523' '00680' '00163'
 '00208' '00383' '00330' '00422' '00840' '00432' '00032' '00186' '00303'
 '00349' '00224' '00369' '00076' '00231' '00309' '00416' '00465' '00256']
A15 : [     0    560    824      3  31285   1349    314   1442    200   2690
    245   1208   1260     11  10000   5000   4000     35    713    551
    500    300    221   2283    100     15    284   1236   5800    730
    400  50000    456  15108   2954      2     20     27    225      1
     38      5    130    147    210  11202   1332     50    258    567
   1000   2510    809    610    150  51100    367    600    247    375
    278    827   2072    582   2300   3065   2200      6   1602   2184
   3376   2000   7544  10561    837  11177    639   2028   1065    540
    158  15000   3000   3257   1655   1430      7    790    396    678
   1187   6590    168   1270   1210    742   8851   7059   1704    857
   6700   2503   9800    196     14  26726  18027     99    444   1200
   2010     13    120     32    722     40    484    204     98   5552
    105   2803    126      4     21    173     10     25     42 100000
    113      8     44   2732    179     16   1062    251    228     67
     12    122   4208   1300    112   1110   1004    286   4500   1212
    195     87     17    184    140     18    146     22     55     70
     60   1058    769   5200     19    316    350   3552    687   1950
     53     41     33     80    351   2100    475    892   4607   2206
   5860     28   1391   2279    591    960    690    234    800    990
   2197     90    340    347    327   4071    109   1249    134   1344
    321    948   2079   2384    458   5298    162   1583     58     59
   1400   1465   8000   4700   1097   3290  13212   5777   5124     23
   4159    918    768    283    108      9     68    587    141    501
    160    390    154    117    246    237    364    537    394    750]
T : ['+' '-']

In [6]:
df1 = df[(df.A1 != '?') & (df.A2 != '?') & (df.A4 != '?') & (df.A5 != '?') & (df.A6 != '?') & (df.A7 != '?') & (df.A14 != '?')]

In [7]:
df1.shape

(653, 16)

In [8]:
for column in df1:
    print(f'{column} : {df1[column].unique()}')

A1 : ['b' 'a']
A2 : ['30.83' '58.67' '24.50' '27.83' '20.17' '32.08' '33.17' '22.92' '54.42'
 '42.50' '22.08' '29.92' '38.25' '48.08' '45.83' '36.67' '28.25' '23.25'
 '21.83' '19.17' '25.00' '47.75' '27.42' '41.17' '15.83' '47.00' '56.58'
 '57.42' '42.08' '29.25' '42.00' '49.50' '36.75' '22.58' '27.25' '23.00'
 '27.75' '54.58' '34.17' '28.92' '29.67' '39.58' '56.42' '54.33' '41.00'
 '31.92' '41.50' '23.92' '25.75' '26.00' '37.42' '34.92' '34.25' '23.33'
 '23.17' '44.33' '35.17' '43.25' '56.75' '31.67' '23.42' '20.42' '26.67'
 '36.00' '25.50' '19.42' '32.33' '38.58' '44.25' '44.83' '20.67' '34.08'
 '21.67' '21.50' '49.58' '27.67' '39.83' '37.17' '25.67' '34.00' '49.00'
 '62.50' '31.42' '52.33' '28.75' '28.58' '22.50' '28.50' '37.50' '35.25'
 '18.67' '54.83' '40.92' '19.75' '29.17' '24.58' '33.75' '25.42' '37.75'
 '52.50' '57.83' '20.75' '39.92' '24.75' '44.17' '23.50' '47.67' '22.75'
 '34.42' '28.42' '67.75' '47.42' '36.25' '32.67' '48.58' '33.58' '18.83'
 '26.92' '31.25' '56.50' '43.00' '22.33' '32.83' '40.33' '30.50' '52.83'
 '46.67' '58.33' '37.33' '23.08' '32.75' '68.67' '28.00' '44.00' '25.08'
 '32.00' '60.58' '40.83' '19.33' '41.33' '56.00' '49.83' '22.67' '27.00'
 '26.08' '18.42' '21.25' '57.08' '22.42' '48.75' '40.00' '40.58' '28.67'
 '33.08' '21.33' '41.75' '34.50' '48.17' '27.58' '24.08' '36.33' '35.42'
 '39.50' '39.33' '24.33' '60.08' '55.92' '53.92' '18.92' '50.08' '65.42'
 '17.58' '18.08' '19.67' '25.17' '33.50' '58.42' '26.17' '42.83' '38.17'
 '20.50' '48.25' '28.33' '18.50' '45.00' '40.25' '41.42' '17.83' '18.17'
 '20.00' '52.17' '50.75' '17.08' '18.33' '59.67' '18.00' '30.67' '18.58'
 '16.25' '21.17' '17.67' '16.50' '29.50' '21.75' '18.25' '35.75' '16.08'
 '69.17' '32.92' '16.33' '22.17' '57.58' '15.92' '31.75' '24.83' '19.00'
 '17.50' '33.67' '30.17' '34.83' '33.25' '25.25' '34.75' '47.33' '39.08'
 '42.75' '38.92' '62.75' '26.75' '63.33' '30.75' '16.00' '19.50' '32.42'
 '30.25' '26.83' '16.92' '24.42' '39.42' '23.58' '21.42' '33.00' '26.33'
 '26.25' '20.83' '43.17' '56.83' '15.17' '29.83' '31.00' '51.92' '69.50'
 '19.58' '22.25' '38.42' '26.58' '35.00' '29.42' '49.17' '51.83' '58.58'
 '53.33' '27.17' '25.92' '30.58' '17.25' '27.33' '36.50' '52.42' '36.17'
 '21.92' '36.58' '31.08' '30.42' '21.08' '17.42' '39.17' '17.33' '23.75'
 '34.67' '74.83' '28.17' '47.25' '24.17' '39.25' '39.00' '64.08' '31.33'
 '21.00' '13.75' '46.00' '20.25' '60.92' '30.00' '22.83' '45.17' '41.58'
 '55.75' '25.33' '31.83' '33.92' '24.92' '30.08' '48.33' '76.75' '51.33'
 '41.92' '29.58' '32.17' '51.42' '42.17' '43.08' '59.50' '65.17' '20.33'
 '32.25' '48.50' '28.08' '73.42' '51.58' '38.67' '46.08' '20.08' '16.17'
 '47.83' '22.00' '38.33' '21.58' '36.08' '38.75' '35.58' '31.58' '25.58'
 '15.75' '17.92' '30.33' '47.17' '25.83' '50.25' '36.42']
A3 : [ 0.     4.46   0.5    1.54   5.625  4.     1.04  11.585  4.915  0.83
  1.835  6.     6.04  10.5    4.415  0.875  5.875  0.25   8.585 11.25
  1.     8.    14.5    6.5    0.585 13.    18.5    8.5   14.79   9.79
  7.585  5.125 10.75   1.5    1.585 11.75   9.415  9.17  15.     1.415
 13.915 28.     6.75   2.04   0.665  2.5    3.    11.625  4.5   12.25
 16.165  0.79   0.835  4.25   0.375 25.125  7.5    5.     7.     5.29
  1.165  9.75  19.     0.625  2.21  12.75  15.5    1.375  3.54  11.
  1.75  16.5   12.     2.25   0.75   3.5   12.5    1.25   1.125  7.04
 10.335  6.21   6.665  9.     5.5    0.54   2.75   9.5   13.5    3.75
 16.     0.29   1.665  7.54   0.46  10.    11.5    3.04   2.     0.08
  1.71   3.25   2.54  13.585  8.665  9.25   8.17   2.335 19.5    5.665
  4.625  0.205  0.96   4.04   5.04   3.165  7.625 10.04  10.25   2.125
  9.335  6.625  2.71   9.625 12.54   9.54   8.46  13.75  21.    10.125
 25.085  0.21  21.5   11.125 11.045  1.335  0.085  1.21   0.165  5.71
  5.415 12.625  0.58   0.415  2.415  0.335  3.125 12.125  2.875 13.665
 26.335 10.29   1.29  22.     0.125  1.085  4.085  4.71   6.165  4.585
 11.46  14.585  0.17   1.625  2.085  5.085  2.835  1.79   0.705  2.165
  2.29  18.125  3.085 11.665  4.125  1.08  13.335 11.835  4.79   9.96
  7.08  25.21   0.67   3.79  22.29   3.335  0.42   1.46   0.04  12.33
 12.335  0.915 14.    17.75  20.     5.25   4.165 10.915  4.75  10.415
  0.71   2.46   9.585  3.625  2.665  5.835 12.835 10.665  7.25  10.21
  3.29  10.085  3.375]
A4 : ['u' 'y' 'l']
A5 : ['g' 'p' 'gg']
A6 : ['w' 'q' 'm' 'r' 'cc' 'k' 'c' 'd' 'x' 'i' 'e' 'aa' 'ff' 'j']
A7 : ['v' 'h' 'bb' 'ff' 'j' 'z' 'o' 'dd' 'n']
A8 : [ 1.25   3.04   1.5    3.75   1.71   2.5    6.5    0.04   3.96   3.165
  2.165  4.335  1.     5.     0.25   0.96   3.17   0.665  0.75   0.835
  7.875  3.085  0.5    5.165 15.     7.     5.04   7.96   7.585  0.415
  2.     1.835 14.415  4.5    5.335  8.625 28.5    2.625  0.125  6.04
  3.5    0.165  0.875  1.75   0.     7.415  0.085  5.75   6.     3.
  1.585  4.29   1.54   1.46   1.625 13.5   10.75   0.375  0.585  0.455
  4.     9.46   2.25  10.     0.795  1.375  1.29  11.5    6.29  14.
  0.335  1.21   7.375  8.5    7.5    3.25  13.     5.5    4.25   0.625
  5.085  2.75   2.375  8.     1.085  2.54   4.165  1.665 11.     9.
  1.335  1.415  1.96   2.585 12.5    5.125 15.5    0.71   5.665 18.
  5.25   8.665  2.29  20.     2.46  13.875  2.085  4.58   2.04   0.29
  0.46   0.21   0.54   3.335  2.335  1.165  2.415  2.79   4.625  1.04
  4.75   6.75   1.875 16.    12.75   5.375  2.125 17.5    3.125  0.79
  8.29 ]
A9 : ['t' 'f']
A10 : ['t' 'f']
A11 : [ 1  6  0  5  7 10  3 17  2  9  8 15 11 12 40 23  4 20 67 14 16 13 19]
A12 : ['f' 't']
A13 : ['g' 's' 'p']
A14 : ['00202' '00043' '00280' '00100' '00120' '00360' '00164' '00080' '00180'
 '00052' '00128' '00260' '00000' '00320' '00396' '00096' '00200' '00300'
 '00145' '00500' '00168' '00434' '00583' '00030' '00240' '00070' '00455'
 '00311' '00216' '00491' '00400' '00239' '00160' '00711' '00250' '00520'
 '00515' '00420' '00980' '00443' '00140' '00094' '00368' '00288' '00188'
 '00112' '00171' '00268' '00167' '00075' '00152' '00176' '00329' '00212'
 '00410' '00274' '00375' '00408' '00350' '00204' '00040' '00181' '00399'
 '00440' '00093' '00060' '00395' '00393' '00021' '00029' '00102' '00431'
 '00370' '00024' '00020' '00129' '00510' '00195' '00144' '00380' '00049'
 '00050' '00381' '00150' '00117' '00056' '00211' '00230' '00156' '00022'
 '00228' '00519' '00253' '00487' '00220' '00088' '00121' '00470' '00136'
 '00132' '00292' '00154' '00272' '00340' '00108' '00720' '00450' '00232'
 '00170' '00460' '00348' '00480' '00640' '00276' '00221' '00352' '00141'
 '00178' '00600' '00550' '00073' '02000' '00225' '00210' '00110' '00356'
 '00045' '00062' '00092' '00174' '00017' '00086' '00454' '00254' '00028'
 '00333' '00312' '00371' '00099' '00252' '00760' '00560' '00130' '00523'
 '00680' '00163' '00208' '00383' '00330' '00422' '00290' '00840' '00432'
 '00032' '00186' '00303' '00349' '00224' '00369' '00076' '00231' '00309'
 '00416' '00465']
A15 : [     0    560    824      3  31285   1349    314   1442    200   2690
    245   1208   1260     11  10000   5000   4000     35    713    551
    500    300    221   2283    100     15    284   1236   5800    730
    400  50000    456  15108   2954      2     20     27    225      1
     38      5    130    147    210  11202   1332     50    258    567
   1000   2510    809    610    150  51100    367    600    247    375
    278    827   2072    582   2300   3065   2200      6   1602   2184
   3376   2000   7544  10561    837  11177    639   2028   1065    540
    158  15000   3000   3257   1655   1430      7    790    396    678
   1187   6590    168   1270   1210    742   8851   7059   1704    857
   6700   2503   9800    196     14  18027     99   1200     13    120
     32    722     40    484    204     98   5552   2803    444    126
      4     21    173     10     25     42 100000    113      8     44
   2732    179     16   1062    251    228     67     12   4208   1300
    112   1110    286   4500   1212    195     87     17    184    140
    146     22     55     70     60   1058    769     19    316    350
   3552    687   1950     18     53     41     33     80    351   2100
    475    892   4607   2206   5860     28   1391    591    960    690
    800    990   2197     90    347    327   4071    109   1249    134
   1344    321    948   2079   2384    458   5298    162   1583     58
     59   1400   1465   8000   4700   1097   3290  13212   5777   5124
     23   4159    918    283    108      9     68    587    501    160
    390    154    117    246    237    364    537    394    750]
T : ['+' '-']

In [9]:
df1.A2 = pd.to_numeric(df1.A2)
df1.A14 = pd.to_numeric(df1.A14)

C:\Users\ashan_105579\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
df1.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14      int64
A15      int64
T       object
dtype: object

In [11]:
df1.sample(10)

    A1     A2      A3 A4 A5  A6  A7     A8 A9 A10  A11 A12 A13  A14   A15  T
337  a  34.83   1.250  y  p   i   h  0.500  f   f    0   t   g  160     0  -
636  b  40.92   0.500  y  p   m   v  0.500  f   f    0   t   g  130     0  -
485  b  74.83  19.000  y  p  ff  ff  0.040  f   t    2   f   g    0   351  -
345  b  62.75   7.000  u  g   e   z  0.000  f   f    0   f   g    0    12  -
147  a  40.33   7.540  y  p   q   h  8.000  t   t   14   f   g    0  2300  +
642  b  31.58   0.750  y  p  aa   v  3.500  f   f    0   t   g  320     0  -
343  b  33.75   2.750  u  g   i  bb  0.000  f   f    0   f   g  180     0  -
356  b  41.17   1.335  u  g   d   v  0.165  f   f    0   f   g  168     0  -
455  b  36.17  18.125  u  g   w   v  0.085  f   f    0   f   g  320  3552  -
277  a  18.17  10.000  y  p   q   h  0.165  f   f    0   f   g  340     0  -

In [12]:
df1['A1'].replace({'b': 1,'a': 0},inplace=True)
df1['A9'].replace({'t': 1,'f': 0},inplace=True)
df1['A10'].replace({'t': 1,'f': 0},inplace=True)
df1['A12'].replace({'t': 1,'f': 0},inplace=True)
df1['T'].replace({'+': 1,'-': 0},inplace=True)

C:\Users\ashan_105579\Anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [13]:
df1.dtypes

A1       int64
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9       int64
A10      int64
A11      int64
A12      int64
A13     object
A14      int64
A15      int64
T        int64
dtype: object

In [14]:
df1.sample(5)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,T
383,0,56.83,4.250,y,p,ff,ff,5.000,0,0,0,1,g,0,4,0
486,1,28.17,0.125,y,p,k,v,0.085,0,0,0,0,g,216,2100,0
300,0,57.58,2.000,u,g,ff,ff,6.500,0,1,1,0,g,0,10,0
344,1,38.92,1.750,u,g,k,v,0.500,0,0,0,1,g,300,2,0
614,0,38.33,4.415,u,g,c,v,0.125,0,0,0,0,g,160,0,0

In [15]:
categorical_columns = ['A4', 'A5', 'A6', 'A7', 'A13']
for i in categorical_columns:
    df1[i] = df1[i].astype('category')
    df1[i] = df1[i].cat.codes

<ipython-input-15-8463cc564716>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[i] = df1[i].astype('category')
<ipython-input-15-8463cc564716>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[i] = df1[i].cat.codes

In [16]:
df1.dtypes

A1       int64
A2     float64
A3     float64
A4        int8
A5        int8
A6        int8
A7        int8
A8     float64
A9       int64
A10      int64
A11      int64
A12      int64
A13       int8
A14      int64
A15      int64
T        int64
dtype: object

In [17]:
df1.sample(10)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,T
31,1,42.00,9.790,1,0,13,3,7.960,1,1,8,0,0,0,0,1
486,1,28.17,0.125,2,2,8,7,0.085,0,0,0,0,0,216,2100,0
176,1,25.00,12.500,1,0,0,7,3.000,1,0,0,1,2,20,0,1
452,1,36.50,4.250,1,0,10,7,3.500,0,0,0,0,0,454,50,0
267,0,32.00,6.000,1,0,3,7,1.250,0,0,0,0,0,272,0,0
502,0,64.08,0.165,1,0,5,2,0.000,1,1,1,0,0,232,100,1
291,0,18.25,10.000,1,0,12,7,1.000,0,1,1,0,0,120,1,0
491,1,24.17,0.875,1,0,10,7,4.625,1,1,2,1,0,520,2000,1
298,1,16.33,2.750,1,0,0,7,0.665,0,1,1,0,0,80,21,0
89,0,49.00,1.500,1,0,7,4,0.000,1,0,0,1,0,100,27,0

In [18]:
cols_to_scale = ['A2','A3','A8', 'A14', 'A15']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])
print("done")

done

<ipython-input-18-7e0ffb381c07>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])
C:\Users\ashan_105579\Anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [19]:
for column in df1:
    print(f'{column} : {df1[column].unique()}')

A1 : [1 0]
A2 : [0.27111111 0.71301587 0.17063492 0.22349206 0.10190476 0.29095238
 0.30825397 0.14555556 0.64555556 0.45634921 0.13222222 0.25666667
 0.38888889 0.54492063 0.50920635 0.36380952 0.23015873 0.15079365
 0.12825397 0.08603175 0.17857143 0.53968254 0.21698413 0.4352381
 0.03301587 0.52777778 0.67984127 0.6931746  0.44968254 0.24603175
 0.4484127  0.56746032 0.36507937 0.14015873 0.21428571 0.1468254
 0.22222222 0.64809524 0.32412698 0.24079365 0.25269841 0.41
 0.67730159 0.64412698 0.43253968 0.2884127  0.44047619 0.16142857
 0.19047619 0.19444444 0.37571429 0.33603175 0.32539683 0.15206349
 0.14952381 0.48539683 0.34       0.46825397 0.68253968 0.28444444
 0.15349206 0.10587302 0.20507937 0.3531746  0.18650794 0.09
 0.29492063 0.39412698 0.48412698 0.49333333 0.10984127 0.32269841
 0.12571429 0.12301587 0.56873016 0.22095238 0.41396825 0.37174603
 0.18920635 0.32142857 0.55952381 0.77380952 0.28047619 0.61238095
 0.23809524 0.23539683 0.13888889 0.23412698 0.37698413 0.34126984
 0.07809524 0.65206349 0.43126984 0.0952381  0.2447619  0.17190476
 0.31746032 0.1852381  0.38095238 0.61507937 0.69968254 0.11111111
 0.41539683 0.17460317 0.48285714 0.1547619  0.5384127  0.14285714
 0.32809524 0.23285714 0.85714286 0.53444444 0.35714286 0.30031746
 0.55285714 0.3147619  0.08063492 0.20904762 0.27777778 0.67857143
 0.46428571 0.13619048 0.30285714 0.42190476 0.26587302 0.62031746
 0.52253968 0.70761905 0.37428571 0.14809524 0.3015873  0.87174603
 0.22619048 0.48015873 0.17984127 0.28968254 0.74333333 0.42984127
 0.08857143 0.43777778 0.67063492 0.57269841 0.1415873  0.21031746
 0.19571429 0.07412698 0.11904762 0.68777778 0.13761905 0.55555556
 0.41666667 0.42587302 0.2368254  0.3068254  0.12031746 0.44444444
 0.32936508 0.54634921 0.21952381 0.16396825 0.3584127  0.34396825
 0.40873016 0.40603175 0.16793651 0.73539683 0.66936508 0.63761905
 0.08206349 0.57666667 0.82015873 0.06079365 0.06873016 0.09396825
 0.18126984 0.31349206 0.70904762 0.19714286 0.4615873  0.38761905
 0.10714286 0.54761905 0.23142857 0.07539683 0.49603175 0.42063492
 0.43920635 0.0647619  0.07015873 0.09920635 0.60984127 0.58730159
 0.05285714 0.07269841 0.72888889 0.06746032 0.26857143 0.07666667
 0.03968254 0.11777778 0.06222222 0.04365079 0.25       0.12698413
 0.07142857 0.34920635 0.03698413 0.87968254 0.30428571 0.04095238
 0.13365079 0.69571429 0.03444444 0.28571429 0.17587302 0.08333333
 0.05952381 0.31619048 0.26063492 0.33460317 0.30952381 0.18253968
 0.33333333 0.53301587 0.40206349 0.46031746 0.39952381 0.77777778
 0.20634921 0.78698413 0.26984127 0.03571429 0.09126984 0.29634921
 0.26190476 0.20761905 0.05031746 0.16936508 0.40746032 0.15603175
 0.12174603 0.30555556 0.19968254 0.1984127  0.11238095 0.46698413
 0.68380952 0.02253968 0.2552381  0.27380952 0.60587302 0.88492063
 0.09253968 0.13492063 0.3915873  0.20365079 0.33730159 0.24873016
 0.56222222 0.60444444 0.7115873  0.62825397 0.21301587 0.1931746
 0.26714286 0.05555556 0.21555556 0.36111111 0.61380952 0.35587302
 0.12968254 0.36238095 0.27507937 0.26460317 0.11634921 0.05825397
 0.40349206 0.0568254  0.15873016 0.33206349 0.96952381 0.22888889
 0.53174603 0.16539683 0.4047619  0.40079365 0.79888889 0.27904762
 0.11507937 0.         0.51190476 0.1031746  0.74873016 0.25793651
 0.14412698 0.49873016 0.44174603 0.66666667 0.18380952 0.28698413
 0.32015873 0.17730159 0.25920635 0.54888889 1.         0.59650794
 0.44714286 0.25126984 0.29238095 0.59793651 0.45111111 0.46555556
 0.72619048 0.81619048 0.10444444 0.29365079 0.5515873  0.22746032
 0.94714286 0.60047619 0.39555556 0.5131746  0.10047619 0.0384127
 0.54095238 0.13095238 0.39015873 0.12428571 0.35444444 0.3968254
 0.34650794 0.28301587 0.18777778 0.03174603 0.06619048 0.2631746
 0.53047619 0.19174603 0.57936508 0.35984127]
A3 : [0.         0.15928571 0.01785714 0.055      0.20089286 0.14285714
 0.03714286 0.41375    0.17553571 0.02964286 0.06553571 0.21428571
 0.21571429 0.375      0.15767857 0.03125    0.20982143 0.00892857
 0.30660714 0.40178571 0.03571429 0.28571429 0.51785714 0.23214286
 0.02089286 0.46428571 0.66071429 0.30357143 0.52821429 0.34964286
 0.27089286 0.18303571 0.38392857 0.05357143 0.05660714 0.41964286
 0.33625    0.3275     0.53571429 0.05053571 0.49696429 1.
 0.24107143 0.07285714 0.02375    0.08928571 0.10714286 0.41517857
 0.16071429 0.4375     0.57732143 0.02821429 0.02982143 0.15178571
 0.01339286 0.89732143 0.26785714 0.17857143 0.25       0.18892857
 0.04160714 0.34821429 0.67857143 0.02232143 0.07892857 0.45535714
 0.55357143 0.04910714 0.12642857 0.39285714 0.0625     0.58928571
 0.42857143 0.08035714 0.02678571 0.125      0.44642857 0.04464286
 0.04017857 0.25142857 0.36910714 0.22178571 0.23803571 0.32142857
 0.19642857 0.01928571 0.09821429 0.33928571 0.48214286 0.13392857
 0.57142857 0.01035714 0.05946429 0.26928571 0.01642857 0.35714286
 0.41071429 0.10857143 0.07142857 0.00285714 0.06107143 0.11607143
 0.09071429 0.48517857 0.30946429 0.33035714 0.29178571 0.08339286
 0.69642857 0.20232143 0.16517857 0.00732143 0.03428571 0.14428571
 0.18       0.11303571 0.27232143 0.35857143 0.36607143 0.07589286
 0.33339286 0.23660714 0.09678571 0.34375    0.44785714 0.34071429
 0.30214286 0.49107143 0.75       0.36160714 0.89589286 0.0075
 0.76785714 0.39732143 0.39446429 0.04767857 0.00303571 0.04321429
 0.00589286 0.20392857 0.19339286 0.45089286 0.02071429 0.01482143
 0.08625    0.01196429 0.11160714 0.43303571 0.10267857 0.48803571
 0.94053571 0.3675     0.04607143 0.78571429 0.00446429 0.03875
 0.14589286 0.16821429 0.22017857 0.16375    0.40928571 0.52089286
 0.00607143 0.05803571 0.07446429 0.18160714 0.10125    0.06392857
 0.02517857 0.07732143 0.08178571 0.64732143 0.11017857 0.41660714
 0.14732143 0.03857143 0.47625    0.42267857 0.17107143 0.35571429
 0.25285714 0.90035714 0.02392857 0.13535714 0.79607143 0.11910714
 0.015      0.05214286 0.00142857 0.44035714 0.44053571 0.03267857
 0.5        0.63392857 0.71428571 0.1875     0.14875    0.38982143
 0.16964286 0.37196429 0.02535714 0.08785714 0.34232143 0.12946429
 0.09517857 0.20839286 0.45839286 0.38089286 0.25892857 0.36464286
 0.1175     0.36017857 0.12053571]
A4 : [1 2 0]
A5 : [0 2 1]
A6 : [12 10  9 11  2  8  1  3 13  6  4  0  5  7]
A7 : [7 3 0 2 4 8 6 1 5]
A8 : [0.04385965 0.10666667 0.05263158 0.13157895 0.06       0.0877193
 0.22807018 0.00140351 0.13894737 0.11105263 0.07596491 0.15210526
 0.03508772 0.1754386  0.00877193 0.03368421 0.11122807 0.02333333
 0.02631579 0.02929825 0.27631579 0.10824561 0.01754386 0.18122807
 0.52631579 0.24561404 0.17684211 0.27929825 0.26614035 0.0145614
 0.07017544 0.06438596 0.50578947 0.15789474 0.18719298 0.30263158
 1.         0.09210526 0.00438596 0.21192982 0.12280702 0.00578947
 0.03070175 0.06140351 0.         0.26017544 0.00298246 0.20175439
 0.21052632 0.10526316 0.05561404 0.15052632 0.05403509 0.05122807
 0.05701754 0.47368421 0.37719298 0.01315789 0.02052632 0.01596491
 0.14035088 0.33192982 0.07894737 0.35087719 0.02789474 0.04824561
 0.04526316 0.40350877 0.22070175 0.49122807 0.01175439 0.04245614
 0.25877193 0.29824561 0.26315789 0.11403509 0.45614035 0.19298246
 0.14912281 0.02192982 0.17842105 0.09649123 0.08333333 0.28070175
 0.03807018 0.08912281 0.14614035 0.05842105 0.38596491 0.31578947
 0.04684211 0.04964912 0.06877193 0.09070175 0.43859649 0.17982456
 0.54385965 0.02491228 0.19877193 0.63157895 0.18421053 0.30403509
 0.08035088 0.70175439 0.08631579 0.48684211 0.07315789 0.16070175
 0.07157895 0.01017544 0.01614035 0.00736842 0.01894737 0.11701754
 0.08192982 0.04087719 0.08473684 0.09789474 0.1622807  0.03649123
 0.16666667 0.23684211 0.06578947 0.56140351 0.44736842 0.18859649
 0.0745614  0.61403509 0.10964912 0.0277193  0.29087719]
A9 : [1 0]
A10 : [1 0]
A11 : [ 1  6  0  5  7 10  3 17  2  9  8 15 11 12 40 23  4 20 67 14 16 13 19]
A12 : [0 1]
A13 : [0 2 1]
A14 : [0.101  0.0215 0.14   0.05   0.06   0.18   0.082  0.04   0.09   0.026
 0.064  0.13   0.     0.16   0.198  0.048  0.1    0.15   0.0725 0.25
 0.084  0.217  0.2915 0.015  0.12   0.035  0.2275 0.1555 0.108  0.2455
 0.2    0.1195 0.08   0.3555 0.125  0.26   0.2575 0.21   0.49   0.2215
 0.07   0.047  0.184  0.144  0.094  0.056  0.0855 0.134  0.0835 0.0375
 0.076  0.088  0.1645 0.106  0.205  0.137  0.1875 0.204  0.175  0.102
 0.02   0.0905 0.1995 0.22   0.0465 0.03   0.1975 0.1965 0.0105 0.0145
 0.051  0.2155 0.185  0.012  0.01   0.0645 0.255  0.0975 0.072  0.19
 0.0245 0.025  0.1905 0.075  0.0585 0.028  0.1055 0.115  0.078  0.011
 0.114  0.2595 0.1265 0.2435 0.11   0.044  0.0605 0.235  0.068  0.066
 0.146  0.077  0.136  0.17   0.054  0.36   0.225  0.116  0.085  0.23
 0.174  0.24   0.32   0.138  0.1105 0.176  0.0705 0.089  0.3    0.275
 0.0365 1.     0.1125 0.105  0.055  0.178  0.0225 0.031  0.046  0.087
 0.0085 0.043  0.227  0.127  0.014  0.1665 0.156  0.1855 0.0495 0.126
 0.38   0.28   0.065  0.2615 0.34   0.0815 0.104  0.1915 0.165  0.211
 0.145  0.42   0.216  0.016  0.093  0.1515 0.1745 0.112  0.1845 0.038
 0.1155 0.1545 0.208  0.2325]
A15 : [0.0000e+00 5.6000e-03 8.2400e-03 3.0000e-05 3.1285e-01 1.3490e-02
 3.1400e-03 1.4420e-02 2.0000e-03 2.6900e-02 2.4500e-03 1.2080e-02
 1.2600e-02 1.1000e-04 1.0000e-01 5.0000e-02 4.0000e-02 3.5000e-04
 7.1300e-03 5.5100e-03 5.0000e-03 3.0000e-03 2.2100e-03 2.2830e-02
 1.0000e-03 1.5000e-04 2.8400e-03 1.2360e-02 5.8000e-02 7.3000e-03
 4.0000e-03 5.0000e-01 4.5600e-03 1.5108e-01 2.9540e-02 2.0000e-05
 2.0000e-04 2.7000e-04 2.2500e-03 1.0000e-05 3.8000e-04 5.0000e-05
 1.3000e-03 1.4700e-03 2.1000e-03 1.1202e-01 1.3320e-02 5.0000e-04
 2.5800e-03 5.6700e-03 1.0000e-02 2.5100e-02 8.0900e-03 6.1000e-03
 1.5000e-03 5.1100e-01 3.6700e-03 6.0000e-03 2.4700e-03 3.7500e-03
 2.7800e-03 8.2700e-03 2.0720e-02 5.8200e-03 2.3000e-02 3.0650e-02
 2.2000e-02 6.0000e-05 1.6020e-02 2.1840e-02 3.3760e-02 2.0000e-02
 7.5440e-02 1.0561e-01 8.3700e-03 1.1177e-01 6.3900e-03 2.0280e-02
 1.0650e-02 5.4000e-03 1.5800e-03 1.5000e-01 3.0000e-02 3.2570e-02
 1.6550e-02 1.4300e-02 7.0000e-05 7.9000e-03 3.9600e-03 6.7800e-03
 1.1870e-02 6.5900e-02 1.6800e-03 1.2700e-02 1.2100e-02 7.4200e-03
 8.8510e-02 7.0590e-02 1.7040e-02 8.5700e-03 6.7000e-02 2.5030e-02
 9.8000e-02 1.9600e-03 1.4000e-04 1.8027e-01 9.9000e-04 1.2000e-02
 1.3000e-04 1.2000e-03 3.2000e-04 7.2200e-03 4.0000e-04 4.8400e-03
 2.0400e-03 9.8000e-04 5.5520e-02 2.8030e-02 4.4400e-03 1.2600e-03
 4.0000e-05 2.1000e-04 1.7300e-03 1.0000e-04 2.5000e-04 4.2000e-04
 1.0000e+00 1.1300e-03 8.0000e-05 4.4000e-04 2.7320e-02 1.7900e-03
 1.6000e-04 1.0620e-02 2.5100e-03 2.2800e-03 6.7000e-04 1.2000e-04
 4.2080e-02 1.3000e-02 1.1200e-03 1.1100e-02 2.8600e-03 4.5000e-02
 1.2120e-02 1.9500e-03 8.7000e-04 1.7000e-04 1.8400e-03 1.4000e-03
 1.4600e-03 2.2000e-04 5.5000e-04 7.0000e-04 6.0000e-04 1.0580e-02
 7.6900e-03 1.9000e-04 3.1600e-03 3.5000e-03 3.5520e-02 6.8700e-03
 1.9500e-02 1.8000e-04 5.3000e-04 4.1000e-04 3.3000e-04 8.0000e-04
 3.5100e-03 2.1000e-02 4.7500e-03 8.9200e-03 4.6070e-02 2.2060e-02
 5.8600e-02 2.8000e-04 1.3910e-02 5.9100e-03 9.6000e-03 6.9000e-03
 8.0000e-03 9.9000e-03 2.1970e-02 9.0000e-04 3.4700e-03 3.2700e-03
 4.0710e-02 1.0900e-03 1.2490e-02 1.3400e-03 1.3440e-02 3.2100e-03
 9.4800e-03 2.0790e-02 2.3840e-02 4.5800e-03 5.2980e-02 1.6200e-03
 1.5830e-02 5.8000e-04 5.9000e-04 1.4000e-02 1.4650e-02 8.0000e-02
 4.7000e-02 1.0970e-02 3.2900e-02 1.3212e-01 5.7770e-02 5.1240e-02
 2.3000e-04 4.1590e-02 9.1800e-03 2.8300e-03 1.0800e-03 9.0000e-05
 6.8000e-04 5.8700e-03 5.0100e-03 1.6000e-03 3.9000e-03 1.5400e-03
 1.1700e-03 2.4600e-03 2.3700e-03 3.6400e-03 5.3700e-03 3.9400e-03
 7.5000e-03]
T : [1 0]

In [20]:
df1.drop('A14',axis='columns',inplace=True)

X = df1.drop('T',axis='columns')
y = df1['T']

C:\Users\ashan_105579\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [38]:
len(X_train.columns)

14

In [50]:
import tensorflow as tf
from tensorflow import keras

def train(X_train, y_train):
    model = keras.Sequential([
        keras.layers.Dense(14, input_shape=(14,), activation='relu'),
        keras.layers.Dense(4, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    opt = keras.optimizers.Adam(learning_rate=0.01)

    model.compile(optimizer='sgd',
                  loss='mean_squared_error',
                  metrics=['accuracy'])

    model.fit(X_train, y_train, epochs=100)
    
    return model

In [51]:
def evaluate(model, X_test, y_test):
    model.evaluate(X_test, y_test)

In [52]:
def prediction(model, X_test):
    yp = model.predict(X_test)
    y_pred = []
    for element in yp:
        if element > 0.5:
            y_pred.append(1)
        else:
            y_pred.append(0)
            
    return y_pred

In [53]:
from sklearn.metrics import confusion_matrix , classification_report

def report(y_test, y_pred):
    print(classification_report(y_test,y_pred))

In [59]:
from sklearn.metrics import f1_score
def f1score(y_test, y_pred):
    print(f1_score(y_test, y_pred))

In [62]:
def modelF1(X_train, y_train, X_test, y_test):
    print(' ------------ Training --------------')
    model = train(X_train, y_train)
    print(' ------------ Evaluation --------------')
    evaluate(model, X_test, y_test)
    print(' ------------ Prediction --------------')
    y_pred = prediction(model, X_test)
    print(' ------------ Report --------------')
    report(y_test, y_pred)
    print(' ------------ F1-Score --------------')
    return f1score(y_test, y_pred)

In [68]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=5)
f1_total = 0
for train_index, test_index in folds.split(X, y):
    X_train, X_test = X.[train_index, :], X.loc[test_index]
#     print(train_index)
    y_train, y_test = y.loc[train_index], y.loc[test_index]
    f1_total = f1_total + modelF1(X_train, y_train, X_test, y_test)
    
f1_avg = f1_total / 5
f1_avg

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([202, 206, 243, 278, 286,\n            ...\n            601, 608, 622, 626, 641],\n           dtype='int64', length=28). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"